@page "/Voting/{id:int}"
@model VotingIndexModel
@{
    ViewData["Title"] = $"Голосование {Model.Data.Name}";
}

<div>
    <div class="d-flex justify-content-between align-items-center mb-2">
        <div>
            <a class="btn btn-secondary" href="/Votings">Назад к списку</a>
        </div>
        <h2 class="mb-0">@ViewData["Title"]</h2>
        <div>
            @if (Model.Data.IsOwner)
            {
                <a class="btn btn-warning mx-1" role="button" href="/Voting/@Model.Data.Id/Edit">Редактировать</a>
                <a class="btn btn-danger" role="button" href="/Voting/@Model.Data.Id/Delete">Удалить</a>
            }
        </div>
    </div>

    <hr class="my-1" />
    <div>
        <p class="my-1">
            <strong>Название:</strong>
            <span>@Model.Data.Name</span>
        </p>
    </div>
    @if (Model.Data.Description != null)
    {
        <div>
            <p class="my-1">
                <strong>Описание:</strong>
                <span>@Model.Data.Description</span>
            </p>
        </div>
    }
    <div>
        <p class="my-1">
            <strong>Разрешено голосование за несколько опций:</strong>
            <span>@(Model.Data.Multiple ? "разрешено" : "запрещено")</span>
        </p>
    </div>
    <div>
        <p class="my-1">
            <strong>Дата и время завершения голосования:</strong>
            @if (Model.Data.EndTime != null)
            {
                <span>@Model.Data.EndTime.Value.ToString("dd.MM.yyyy HH:mm:ss")</span>
            }
            else
            {
                <span>Не ограничено по времени</span>
            }
        </p>
    </div>
</div>

<div class="d-flex justify-content-end">
    @if (Model.Data.EndTime == null || Model.Data.EndTime > DateTime.Now)
    {
        <a class="btn btn-success mx-1" role="button" href="/Voting/@Model.Data.Id/Vote">Голосовать</a>
    }
    @if (Model.Data.IsOwner)
    {
        <a class="btn btn-success" role="button" href="/Voting/@Model.Data.Id/Option/Create">Добавить опцию</a>
    }
</div>

<hr class="my-1" />

<div>
    @if (Model.Data.Options.Count == 0)
    {
        <h6>Опций не найдено</h6>
    }
    else if (!Model.Data.Multiple)
    {
        <h6 class="my-2" signalr-tag="total">Всего голосов: @Model.Data.TotalCount</h6>
    }
    @foreach (var option in Model.Data.Options)
    {
        <div signalr-updatable="true" signalr-optionId="@option.Id" signalr-votedCount="@option.VotedCount">
            <p class="my-0">@(option.Checked ? "[Ваш голос] " : null)@option.Name <span>(@option.VotedCount голосов)</span></p>
            <div class="progress" role="progressbar" aria-valuenow="@option.VotedCount" aria-valuemin="0" aria-valuemax="@Model.Data.TotalCount">
                <div class="progress-bar" style="width: @(Model.Data.TotalCount == 0 ? 0 : ((double)option.VotedCount / (double)Model.Data.TotalCount * 100))%;"></div>
            </div>
        </div>
        @if (Model.Data.IsOwner)
        {
            <a class="btn btn-danger mt-1" role="button" href="/Voting/Option/@option.Id/Delete">Удалить опцию</a>
        }
    }
</div>

@section Scripts {
    <script>var VotingId = @Model.Data.Id;</script>
    <script>var TotalCount = @Model.Data.TotalCount;</script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/voting.min.js" asp-append-version="true"></script>
}